button {
    width: 100%;
    padding: 2%;
    margin: 0;
    border:0;
    font-size: 14px;
    border-bottom:1px solid white;
    font-family: Lexend;
    background-color: rgb(50, 50, 50);
    color: white;
    display:block;
}

.reviews {
    width: 30%;
    border: 1px solid white;
    padding: 0;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 250px;
}

button:hover {
    background-color: rgb(249, 104, 184)
}

/* Flex container */

.flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #181818;
	width: 700px;
	max-width: 100%;
	border: 2px solid white;
	overflow-x: hidden;
	margin: 10px;
    border-radius: 15px;
}

.flex > div /* Boxes */ {
	background-color: rgb(50, 50, 50);
	width: auto;
	margin: 10px;
	margin-bottom: 0;
	border: 1px solid white;
    border-radius: 15px;
}

.flex > div.bottom {
	margin-bottom: 10px;
}

.rows /* changes flex to rows, mostly for currently playing stuff */ {
	flex-direction: row;
}

.rows > div /* allows for multiple boxes in one slot */ {
	width: 50%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.smaller /* changes width of container */ {
	width: 600px;
}

/* Details :) */

details > summary {
	font-weight: bold;
	font-size: 18px;
    padding: 0;
	cursor: pointer;
}

span.small {
	font-size: 14px;
	font-weight: normal;
}

details {
    margin-top:0;
	padding: 10px;
	font-family: Lexend;
	font-size: 18px;
	color: white;
	padding-bottom: 0;
}

details > p {
	margin-bottom: 0;
}

details[open] summary {
	margin-bottom: 10px;
}

details[open] {
	padding-bottom: 10px;
}

details.bottom /* Mostly for finished, meant for bottom review */ {
	padding-bottom: 10px;
	border-bottom: 0px;
}


/* Font inclusions */

@font-face {
    font-family: Lexend;
    src: url(../../public/fonts/Lexend-Light.ttf);
}
@font-face {
    font-family: Lexend;
    src: url(../../public/fonts/Lexend-SemiBold.ttf);
    font-weight: bold;
}

/* Font class modifiers */

.bold{
    font-weight: bold;
}

.italic{
    font-style: oblique 15deg;
}

.bold_italic{
    font-weight: bold;
    font-style: oblique 20deg;
}

/* Paragraphs */

p {
    font-family: Lexend, sans-serif;
    font-size: 18px;
    color: white;
    font-style: normal;
    margin: 10px;
    text-align: left;
}

p.larger {
    font-size: 24px;
}

.smaller {
    font-size: 14px;
    font-weight: normal;
}

p.edition {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
}

.score {
    text-align: center;
    font-weight: bold;
}

.played_on {
    text-align: center;
    font-weight:normal;
}

/* Headers */

h1 {
    font-family: Lexend, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-family: Lexend, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: Lexend, sans-serif;
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.main_page /* header for the top by the nav */ {
    text-align: center;
    border: 0px;
}

.left {
    text-align: left;
}


/* Standard Lists */

ul {
    list-style-type: disc;
    margin:0px;
    margin-left: 10px;
    padding: 10px 28px;
    padding-bottom: 10px;
}

li {
    font-family: Lexend, sans-serif;
    font-size: 18px;
    color: white;
    font-style: normal;
    padding-left: 0;
    padding-bottom: 10px;
    font-weight: normal;
}

.nb {
    font-weight: normal;
    padding-bottom: 5px;
}

li.bottom {
    padding-bottom: 0;
}

a {
    color: white;
}

a.smaller {
    font-size: 14px;
    margin: 10px;
}

a:hover {
    color: pink;
}


/* Navigation Bar */

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li.nav {
    display: inline;
    padding-left: 0px;
    margin-left: 0px;
    margin-right:0px;
    padding-right:0;
    font-size: 16px;
}

li a.nav{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #181818;
    margin:0;
}

li a.nav:hover{
    background-color: pink;
}

body {
    background: linear-gradient(0.25turn,#090909, #141414, #090909);
    margin:0;
    padding:0;
}