---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "reviews";
const pageDesc = "all of my reviews, lined up!";
---
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
</html>
<BaseLayout pageTitle={pageTitle}>
    <div class = "flex center">
        <h2>reviews</h2>
        <div class="bottom">
            <p>these are my reviews, sorted alphabetically!</p>
            <p>these are just my mini-reviews about games. i've got a lot more to say about some games compared to others, so some of these'll be pretty short lol.</p>
        </div>
    </div>
    <div class = "flex center">
        {allPosts.map((post: any) => <div class = "bottom"><p><a href={post.url}>{post.frontmatter.title}</a><br><span class = "smaller">{post.frontmatter.description}</span></p></div>)}
    </div>
</BaseLayout>