---
import "../styles/global.css";
---
<footer>
    <div style="background-color:#181818; padding:40px; margin-top:25px;border-top:1px solid white;border-bottom:1px solid white;position:fixed;bottom:0;width:100%;">
        <p class = "bold"style="text-align:center;">funkirbo</p>
        <p style="text-align:center; font-size:16px;">
            <a href = "https://backloggd.com/u/funkirbo/" style="text-align:center;">backloggd</a>
            <a href = "https://twitter.com/funkirbo/" style="text-align:center;">twitter</a>
            <a href = "https://bsky.app/profile/funkirbo.bsky.social" style="text-align:center;">bluesky</a>
            <a href = "https://twitch.tv/funkirbo/" style="text-align:center;">twitch</a>
            <a href = "https://youtube.com/@funkirbo" style="text-align:center;">youtube</a>
        </p>
    </div>
</footer>
