---
import "../styles/global.css";
---
<div class="center" style="padding-bottom: 10px;">
    <h1 class="main_page" style="background-color: #181818; margin:0;padding: 10px 0;margin-bottom:-10px;">funkirbo talks games</h1>
    <div>
        <ul class="nav" style="background-color: #181818;border-bottom:2px solid white;">
            
            <li class="nav bold">
                <a class="nav" href="/">home</a>
            </li>
            <li class="nav bold">
                <a class="nav" href="/game_notes">
                    game notes
                </a>
            </li>
        </ul>
    </div>
</div>