---
import "../styles/global.css";
---
<div class="center" style="padding-bottom: 10px;">
    <h1 class="main_page" style="background-color: #292929; margin:0;padding: 10px 0;">funkirbo talks games</h1>
    <div>
        <ul class="nav" style="background-color: #292929;border-bottom:2px solid white;">
            
            <li class="nav bold">
                <a class="nav" href="/">home</a>
            </li>
            <li class="nav bold">
                <a class="nav" href="/review_directory">
                    reviews
                </a>
            </li>
        </ul>
    </div>
</div>