---
import "../styles/global.css";
---
<div class="flex center smaller" style="padding-bottom: 10px;">
    <h1 class="main_page">funkirbo talks games</h1>
    <div>
        <ul class="nav">
            <li class="nav bold">
                <a class="nav" href="/">home</a>
            </li>
            <li class="nav bold">
                <a class="nav" href="/review_directory">
                    reviews
                </a>
            </li>
        </ul>
    </div>
</div>